ul {color:royalblue ;font-size: x-large;}
table{color:red;border: solid black 1px}
#inputDevices   {font-size: 20px; color:mediumseagreen; border:solid black 1px}
#outputDevices  {font-size: 20px; color:mediumorchid; border:solid black 1px}
h1{color:salmon;}
